@import "partials/variables";

@import "partials/mixins";

@import "compass/reset";

// import compass transform
@import "compass/css3/transform";

@import "compass/css3/images";

// import compass flexbox
@import "compass/css3/flexbox";

// import compass placeholder text
@import "compass/css3/user-interface";

@import "compass/css3/transition";

/* ================================================ */
/* === GLOBALS ========= */
/* ================================================ */

*{ box-sizing: border-box; }

a{ cursor: pointer; @include open-bold; text-transform: uppercase; color: $garnett; }

a:hover{ text-decoration: none; color: $grey; }

a:focus{outline:0;}

.basic-link {  display: inline-block; margin-top: 30px; border: 1px solid gray; width: auto !important; padding: 10px 15px; margin-right: 30px; }

.main-wrap{ width: 1080px; margin: 0 auto; position: relative; max-width: 95%; text-align: center; }

.block{ width: 100%; height: auto; padding: 60px 0px; }

.body-button{ width: auto; display: inline-block; @include open-bold; font-size: 20px; line-height: 20px; border-radius: 0px; opacity: .9; text-transform:uppercase; color: $garnett; background: transparent; padding: 15px 30px; border: 1px solid $garnett;
	img{ float: right; width: 12px; height: 20px;display: inline-block; margin-left: 20px; }
	&:hover{ cursor:pointer; opacity: 1; text-decoration: none; background: $garnett; color: #fff; 
		img{ width: 11px; height: 19px; }
	}
}

.highlighted{ background: $off-white; border-color: $grey; color: $grey; }

.interior-header{ @include adobe-reg; font-size: 72px; line-height: 72px; color: white; }

.home-p{ @include open-lt; font-size: 24px; line-height: 42px; color: $grey; }

.home-h1{ font-size: 36px; line-height: 40px; @include open-bold; color: $garnett; text-transform: uppercase; }

p{ @include open-lt; font-size: 20px; line-height: 34px; color: $grey; text-rendering: optimizeLegibility; }

p a{ font-weight: 500; }

h1{ @include adobe-reg; font-size: 44px; line-height: 46px; color: $garnett; text-rendering: optimizeLegibility; }

h2{ @include open-bold; font-size: 36px; line-height: 40px; color: #782f40; text-transform: uppercase; text-rendering: optimizeLegibility; }

h3{ @include open-bold; font-size: 28px; color: $grey; text-transform: uppercase; text-rendering: optimizeLegibility; }

h4{ @include open-bold; font-size: 24px; line-height: 36px; text-transform: uppercase; color: $garnett; text-rendering: optimizeLegibility; }

h5{ @include open-bold; font-size: 20px; line-height: 36px; color: $grey; text-rendering: optimizeLegibility; }

.container{ max-width: 100%; width: 100%; padding-right: 0px; padding-left: 0px; }

.italic{ @include adobe-it; font-size: 36px; line-height: 42px; color: $grey; 
	&:before, &:after{ @include sudo-gradient-sep; }
	&:before{ margin-bottom: 60px; }
	&:after{ margin-top: 60px; }
}

.button-column { padding-bottom: 60px; }
// Skip Links

a.offscreen { position:absolute; left:-1000px; top:-1000px; width:1px; height:1px; text-align: left;  overflow:hidden; padding: 30px; }

a.offscreen:focus, a.offscreen:active, a.offscreen:hover {  position:absolute;  left:0;  top:0;  width:auto; color: white;height:auto; overflow:visible;background-color: $garnett; border: 1px dotted #000; }

table { width: 100%; @include adobe-reg; font-size: 16px; color: #5d5d5d; 
	strong{ color: $garnett !important; }
}

em{ font-style: italic; }

/* ================================================ */
/* === CONDITIONALS FOR FLEXIBLE CONTENT ========= */
/* ================================================ */

.cta + .inline-image {
	margin-top: 30px;
}

.inline-image + .cta {
	margin-top: -40px; 
}

.inline-quote + .interior-full-text {
	padding: 30px 0px 50px;
}

.interior-full-text + .inline-quote {
	padding: 0px;
}

.icon-panel + .image-slider {
	padding-top: 30px;
}

.full-text-panel + .full-image-panel {
	padding-top: 30px;
}

ul + h4, ol + h4{ margin-top: 30px; }

/* ================================================ */
/* === HEADER ========= */
/* ================================================ */

#header{width: 100%; height: 120px; background: #fff; position: relative; z-index: 2; border-top: 4px solid $garnett;
	.main-wrap{ width: 1080px; margin: 0 auto; height: 100%; position: relative; text-align: left;
		.logo{ width: 364px; height: 80px; float: left; @include vert-align(50%, -50%);
			img{ width: 100%; }
		}
		.mobile-logo{ display: none; width: 229px; height: 73px; float: left; @include vert-align(50%, -50%);
			img{ width: 100%; }
		}
		.main-nav{ display: block; height: 60px; float: right; width: 596px; @include vert-align(50%, -50%); margin-bottom: 0;
			li{ display: inline-block; width: 146px; text-align: left; padding: 7px 15px 0px 22px; position: relative; border-left: 1px solid $garnett; height: 100%; cursor: pointer; vertical-align: top;
				a{ @include open-semi; color: #5e5e5e; text-transform: uppercase; font-size: 18px; line-height: 25px; padding-bottom: 33px; display: inline;
					&:hover{ color: $gold; }
				}
				&:nth-child(-n + 3) a { -webkit-padding-end: 35px; }
				.sub-nav{ width: calc( 596px + 25px);  height: auto; background: white; position: absolute; left: -99999px; overflow:hidden; margin: 31px 0 0 0; background: $off-white; padding: 45px; padding-bottom: 140px; @include transition(compact(opacity .5s ease));
					.nav-col-left{ padding-right: 30px; padding-left: 0px;
						li{ padding: 15px 0px; border-bottom: 1px solid $lt-grey; border-left: none; width: 100%;
							a{ color: $garnett; font-size: 22px;
								&:hover{ color: #000; }
							}
							&:first-child{ padding-top: 0px; }
						}
					}
					.nav-col-right{
						li{ padding: 0px; border-left: none; width: auto; padding-bottom: 26px; display: block;
							a{ color: $grey; @include open-lt; font-size: 22px; line-height: 22px; text-transform: none;
								&:hover{ color: $garnett; }
							}
						}
					}
					.sub-bottom{ @include display-flex; display: -ms-flexbox; @include flex-direction(row); -ms-flex-direction: row; width: 100%; position: absolute; bottom: 0; left: 0;
						li{ background:transparent; list-style: none; text-align: center; background: $garnett; @include flex(1 1); -ms-flex: 1 1 auto; display: inline-block; padding: 0px; width: auto; border-color: white;
							a{ color: white; display: block; padding: 20px; }
							&:first-child{ border: none; }
							&:hover{ background: #000; }
						}
					}
					.connect{ @include display-flex; display: -ms-flexbox; @include flex-direction(row); -ms-flex-direction: row;  width: 100%; position: absolute; left: 0px; bottom: 80px;
						li{ border: none; @include flex(1 1); -ms-flex: 1 1 auto; display: none;
							img{ width: 33px; height: 33px;
								&:hover{ opacity: .8; }
							}
						}
					}
				}
				.nav-arrow{ width: 12px; height: 9px; position: absolute; top: 12px; right: 9px; }
				.main-mag{ width: 32px; height: 32px; float: right; position: relative; @include transform(translateY(-75%)); }
				&:hover > .sub-nav { left: 0px; overflow: visible; }
				&:focus .sub-nav { left: 0px; overflow: visible; }
				&:nth-child(2) > .sub-nav{ margin-left: -146px; }
				&:nth-child(3) > .sub-nav{ margin-left: -292px; }
			}
		}
		.tablet-buttons{ display: none; position: relative; float: right; width: 160px; height: 100%; text-align:center;
			.tablet-search, .tablet-menu{ width: 80px; position: relative; display: inline-block; height: 50px; float: left; top: 50%; @include transform(translateY(-50%)); right: 15px; }
			.tablet-search{ border-right: 1px solid black; }
			.search-icon{ width: 26px; height: 26px; }
			.hamburger{ width: 30px; height: 24px; }
			.exit{ display:none; width: 26px; }
			.search-icon, .hamburger, .exit{ @include vert-align(50%, -50%); }
		}
	}
	.search-overlay{position: fixed; width: 100%; background: $garnett; height: 100vh; padding: 70px 0px; display: none; z-index: 20; overflow-y: scroll;
		.container{ position: static; height: 2000px; }
		.search-col-left{
			.gsc-search-box{margin:0; padding: 0; border: 0; background-color: #e5e5e5;
				.gsc-input{ background: $soft-grey !important; width: 100%; height: 90px; color: $grey; @include open-lt; font-size: 24px; padding-left: 15px; border: none; }
				.gsc-clear-button{ display: none; }
				input[type="button"]{ background-image: url("../img/search-mag.svg"); background-repeat: no-repeat; background-position: center; color: #e5e5e5; font-size: 0px; height: 90px; background-color: #e5e5e5; border: none; background-size: 35px; margin-right: 10px; }
			}
			.gsc-control-cse{padding: 0; background-color: #e5e5e5;
				.gsc-results{padding: 10px; max-height: 50vh; overflow:scroll;
					.gcsc-branding{display: none;}
					.gsc-cursor-box .gsc-cursor-current-page{ color: $garnett; }
				}
			}

		}
		.search-col-right{ color: white; padding-left: 45px; float: right;
			h1{ @include open-semi; font-size: 24px; line-height: 40px; text-transform: uppercase; color: white; }
			label{ @include open-lt; font-size: 24px; line-height: 60px; }
			input{ margin-right: 15px; vertical-align: middle; margin-top: 0px; }
		}
		.exit-search img { width: 25px; position: absolute; top: 20px; right: 20px; cursor: pointer; }
	}
	.tablet-nav{ display: none; background: $off-white; overflow: scroll; width: 100%; height: auto; padding: 60px 0px; position: relative;
		.col-sm-6{ padding-left: 50px; }
		ul{ padding-bottom: 30px; 
			li{
				a{ color: black; @include open-lt; font-size: 20px; line-height: 44px; text-transform: none;
				}
			&:first-child > a{ color: $garnett; @include adobe-reg; font-size: 34px; line-height: 48px; text-transform: none; }
			}
		}
		.separate{ padding-top: 20px;
			li a, li a:first-child{ text-transform: uppercase; @include open-lt; font-size: 20px; line-height: 40px; color: black;
			}
		}
		.second ul:first-child{ border-bottom: 1px solid $garnett; padding-bottom: 20px; }
		.tablet-connect{ @include display-flex; display: -ms-flexbox; @include flex-direction(row); -ms-flex-direction: row; width: 100%; position: absolute; left: 0px; bottom: 40px; text-align: center;
			.mobile-close{ display: none; width: 100%; text-align: center; height: 38px;
				img{ width: 38px; height: 20px; @include vert-align(50%, -50%); }
			 }
			li{ border: none; @include flex(1 1 auto); -ms-flex: 1 1 auto; list-style: none; display: none;
				img{ width: 33px; height: 33px; } 
			}
		}
	}
}

/* ================================================ */
/* === HEADER CHANGES FOR FRONT PAGE ========= */
/* ================================================ */

.home #header{ position: absolute; background: transparent; border-top: none;
	.main-wrap{ width: 95%;
		.logo{ width: 365px; }
		.main-nav{ width: 695px;
			li{ border-left: 1px solid white; width: 170px; cursor: pointer;
				a{ color: white; font-size: 20px; 
					&:hover{ color: $gold; }
				}
				.sub-nav{ width: 695px; }
				&:nth-child(2) > .sub-nav{ margin-left: -170px; }
				&:nth-child(3) > .sub-nav{ margin-left: -340px; }
				.nav-arrow{ width: 13px; }

			}
			.main-mag{ width: 33px; height: 33px;}
		}
	}
}

/* ================================================ */
/* === OPENING ========= */
/* ================================================ */

.opening{width: 100%; height: 100vh; position: relative; background-size: cover; background-repeat: no-repeat; background-color: #000;
	a{ color: white; font-size: 22px; line-height: 24px;
		&:hover{ color: $gold; }
	}
	.overlay{ position: absolute; background-color: rgba(0,0,0,.7); padding: 35px 110px 35px 35px; right: 0; top: 55%; @include transform(translateY(-50%)); color: white; width: auto; max-width: 685px;
		h1{ @include open-lt; font-size: 60px; line-height: 60px; margin: 0; color: white; }
		h2{ @include open-lt; font-size: 32px; line-height: 46px; padding: 40px 0px 45px; margin: 0; color: white; text-transform: none;
			i{ @include open-it; }
		}
		a{
			img{ width: 13px; height: 22px; display: inline-block; margin-left: 15px; margin-top: -5px; @include transform(translateY(15%)); }
			&:hover{ color: $gold; text-decoration: none; }
		}
	}
}

/* ================================================ */
/* === STICKY SEARCH TRIGGER ========= */
/* ================================================ */

div.search-trigger{ position: fixed; background-image: url("../img/mag-glass.svg"); background-repeat: no-repeat; background-size: 33px 33px; background-position: center; width: 33px; height: 33px; padding: 25px; background-color: rgba($grey, 0.8); top: 0px; cursor: pointer; z-index: 1; display: none; 
	&:hover{ background-color: $grey; }
}

/* ================================================ */
/* === BOTTOM MENU ========= */
/* ================================================ */

.bottom-menu-button{position: fixed; padding: 20px; bottom: 0; left: 0; background: #000; cursor: pointer; z-index: 5; opacity: .9;
		a{ color: white; font-size: 22px; line-height: 24px;  @include open-semi; text-transform: uppercase;
			img{ width: 24px; height: 19px; margin-left: 15px;}
			&:hover{ text-decoration: none; }
		}
		&:hover{ background: $garnett; }
	}
	.bottom-menu{ @include display-flex; @include flex-direction(row);  width: 100%; position: fixed; left: 0px; bottom: 0px; text-align: center; margin-left: -100%; z-index: 5;
		li{ @include flex(1 1 auto); list-style: none; padding: 20px; border-left: 1px solid white;
			a{ font-size: 20px; color: white;  @include open-semi; text-transform: uppercase;
				img{ width: 24px; height: 19px; }
				&:hover{ color: $gold; }
			}
			&:nth-child(-n+5){ background: #000; }
			&:nth-child(n+5){ background: $garnett; }
			&:first-child{ border-left: none; }
			&:last-child{ background: transparent; background: rgba(0,0,0,.5); }
		}
}



/* ================================================ */
/* === FULL TEXT PANEL === */
/* ================================================ */

.full-text-panel{ text-align: center; padding: 90px 0px 60px; 
	h1{ margin: 0 auto; padding-bottom: 30px; }
	.body-button{ margin: 0 auto; text-align: left; margin-top: 30px; margin-right: 30px; }
}

/* ================================================ */
/* === 4 COLUMN IMAGE/TEXT PANEL === */
/* ================================================ */

.icon-panel-three, .icon-panel {
	.container{ padding: 0px; width: 100%;
		.icon-column{ padding-left: 20px; padding-right: 20px; box-sizing: border-box;
			.inner-content{ text-align: center;
				.text{ max-width: 275px; margin: 0 auto; }
				h1{ @include open-bold; font-size: 20px; line-height: 30px; color: $garnett; text-transform: uppercase; padding-top: 10px; }
				a{ color: $garnett; 
					&:hover{ color: $grey; }
				}
				.body-button{
					img{ height: auto; }
					&:hover{ color: white; }
				}
				p{ @include open-lt; font-size: 18px; line-height: 24px; color: $grey; }
				img{ height: 133px; 
					&:hover{ opacity: .7; }
				}
			}
		}
		.body-button{ margin: 35px auto 0px; }
	}
}

/* ================================================ */
/* === LIST LINKS PANEL ========= */
/* ================================================ */

.list-links{
	.links{ text-align: left;
		h1{ @include open-semi; font-size: 24px; line-height: 36px; color: $garnett; padding-bottom: 25px; text-transform: uppercase; }
		li{ list-style: none;
			a{ @include open-lt; font-size: 24px; line-height: 48px; color: $grey; text-transform: none; 
				&:hover{ color: $garnett; }
			}
		}
		.col-sm-6{ padding-left: 0px; }
		.body-button{ display: none; }
	}
	.buttons{ margin-top: 50%; @include transform(translateY(-50%));
		.button-container a:first-child{ margin-bottom: 30px; }
		.body-button{ width: 90%; text-align: left; }
	}
	&:before, &:after{ @include sudo-gradient-sep; }
	&:before{ margin-bottom: 60px; }
	&:after{ margin-top: 60px; }
}

/* ================================================ */
/* === ALTERNATING BUCKETS ========= */
/* ================================================ */

.buckets .main-wrap{ text-align: left;
	.row:nth-child(n + 2){ margin-top: 60px;
		&:before{ @include sudo-gradient-sep; margin-bottom: 60px; }
	}
	.img{
		img{ width: 100%; }
	}
	.img-right{ margin-top: 60px;

		.img{ float: right; }
	}
	h4{ padding-bottom: 10px; 
		img{  width: 16px; height: 24px; margin-left: 25px; @include transform(translateY(12%)); }
	}
}

/* ================================================ */
/* === FULL WIDTH IMAGE SLIDER === */
/* ================================================ */

.image-slider{ overflow: hidden; position: relative;
	.slide-gallery{ width: 10000px; overflow-y: hidden; position: relative; left: -100vw;
		.slide{ float: left; width: 100vw; height: auto; position: relative;
			img{ width: 100%; height: auto; }
			.slider-image{ display: block; }
			.overlay-content{ position: absolute; top: 55px; width: auto; height: auto; left: 55px; padding: 38px; max-width: 620px; background: white;
				h2{ @include open-lt; font-size: 18px; line-height: 30px; color: $grey; text-transform: uppercase;
					span{ @include open-bold; }
				}
				h1{ @include open-lt; font-size: 72px; line-height: 76px; color: $garnett; padding-top: 7px; }
				p{ @include open-lt; font-size: 18px; line-height: 30px; color: $grey; padding: 25px 0px 20px; }
				a{ font-size: 20px; color: $garnett;
					img{ width: 15px; margin-left: 15px; position: relative; @include transform(translateY(15%)); }
					&:hover{ color: black; }
				}
			}
		}
	}
	.next{ position: absolute; width: auto; height: auto; right: 0px; top: 55px; background: white; padding: 20px; 
		a{ color: $garnett; font-size: 20px; 
			img{ width: 22px; height: 18px; margin-left: 15px; }
			&:hover{ color: black; }
		}
	}
}

/* ================================================ */
/* === STUDENT EXPERIENCE INTRO === */
/* ================================================ */

.student-experience-intro{ height: auto; overflow: auto; position: relative;
	.slide{ float: left; width: 100vw; height: auto; position: relative;
		img{ max-width: 100%; height: auto; }
		.intro-image{ display: block; }
		.overlay-content{ position: absolute; top: 55px; width: auto; height: auto; left: 55px; padding: 38px; max-width: 620px; background: white;
			h1{ @include open-lt; font-size: 68px; line-height: 68px; color: $garnett; padding-top: 7px; }
			p{ color: $grey; }
			.main{ @include open-lt; font-size: 18px; line-height: 30px; padding-top: 20px; }
			.info{ @include open-semi; font-size: 20px; line-height: 34px; padding-top: 20px; }
			.sub-info{ @include open-lt; font-size: 16px; line-height: 24px; }
		}
	}
	.next{ position: absolute; width: auto; height: auto; right: 0px; top: 55px; background: white; padding: 20px; z-index: 5;
		a{ color: $garnett; font-size: 20px; 
			img{ width: 22px; height: 18px; margin-left: 15px; }
		}
	}
}

/* ================================================ */
/* === FULL WIDTH IMAGE PANEL ========= */
/* ================================================ */

.full-image-panel{width: 100%;height: auto;
	img{width: 100%;height: auto; display: block; }
}

/* ================================================ */
/* === LEFT-ALIGNED BUCKETS ========= */
/* ================================================ */

.left-buckets .main-wrap{ text-align: left;
	.row:nth-child(n + 2){ margin-top: 60px; }
	.img{
		img{ width: 100%;}
	}
	h4{ @include open-lt; font-size: 36px; line-height: 42px; text-transform: none; padding-bottom: 10px; 
		&:hover{ color: $grey; }
	}
	p{ margin-bottom: 30px; }
	.body-button{ width: auto; }
}

/* ================================================ */
/* === INTERIOR FULL WIDTH IMAGE ========= */
/* ================================================ */

.interior-full{ width: 100%; height: 350px; background-size: cover; background-position: center; border-bottom: 4px solid $gold;
	.main-wrap{ text-align: left;
		h1{ margin-top: 100px; position: absolute; max-width: 50%; }
	}
}
.positioner{ height: 30px;
	.block-nav{ @include display-flex; display: -ms-flexbox; @include flex-direction(row); -ms-flex-direction: row;  width: 100%; height: auto; width: 100%; @include transform(translateY(-50%)); background: $soft-grey; text-align: left; padding: 0px; 
		li{ @include flex(1 1); -ms-flex: 1 1 auto; /*padding: 15px 18px;*/ display: inherit; list-style: none; border-left: 1px solid $lt-grey; height: auto;
			a{ @include open-semi; font-size: 18px; line-height: 22px; color: $grey; text-transform: uppercase; width: 100%; height: auto; display: block; clear: both; padding: 15px 18px;
				&:hover{ opacity: .5; }
			}
			&:first-child{ display: none; }
			&:nth-child(2){ border-left: none; }
		}
		.down-button{ display: none; }
	}
}

/* ================================================ */
/* === INTERIOR FULL WIDTH TEXT ========= */
/* ================================================ */

.interior-full-text { padding: 70px 0px 50px;
	.main-wrap{ text-align: left;
		a{ @include open-lt; text-transform: none; }
		p{ margin-top: 10px; }
		ul{ margin: 30px; list-style-type: inherit;
			li{ @include open-lt; font-size: 20px; line-height: 34px; color: $grey; }
		}
	}
}

/* ================================================ */
/* ===  FULL WIDTH IMAGE W/ QUOTE ========= */
/* ================================================ */

.image-quote{ width: 100%; height: auto; position: relative;
	img{ width: 100%; height:auto; display: block; }
	.quote-overlay{ position: absolute; right: 65px; top: 65px; width: 49%;
		h1{ @include adobe-it; font-size: 36px; line-height: 42px; color: white; padding-bottom: 45px; }
		.quote-button{ background-color: rgba(0,0,0,.5); color: white; padding: 15px; display: inline-block; width: auto;
			img{ width: 10px; height: 20px; display: inline-block; margin-left: 15px; float: right; margin-top: -2px; }
			&:hover{ background-color: rgba( 0,0,0,.8); }
		}
	}
}

/* ================================= */
/* ===  INLINE QUOTE IMAGE ========= */
/* ================================= */

.inline-quote{ width: 100%; height: auto; padding: 50px 0px;
	.main-wrap{ height: 346px; overflow: auto; background: $soft-grey; padding-right: 35px;
		img{ width: auto; height: 100%; display: block; float: left; margin-right: 25px; }
		h1{@include adobe-it; font-size: 36px; line-height: 42px; text-align: left; margin-top: 35px; margin-left: 25px; }
	}
}

/* =========================================== */
/* ===  GENERIC STYLES FOR TEMPLATES ========= */
/* =========================================== */

.page-template{
	.intro{ width: 100%; height: 265px; background-size: cover; background-repeat: no-repeat; background-position: center; position: relative; border-bottom: 4px solid $gold;
		.main-wrap{ height: 100%;
			h1{ color: #fff; position: absolute; font-size: 62px; line-height: 64px; top: 0; bottom: 0; margin: auto; height: 66px; max-width: 45%; text-align: left; }
		}
	}
	.main-wrap{
		.breadcrumbs{ padding: 20px 0; border-bottom: 1px solid $soft-grey; text-align: left; margin-left: 15px; max-width: 95%;
			span, a{ color: $grey; @include open-it; font-size: 12px; text-transform: none; }
			a:hover{ text-decoration: underline; }
		}
	}
	.intro-text{ text-align: left; padding-top: 60px;
		p{ padding-top: 20px; }
		a{ font-size: 16px; line-height: 20px; width: 100%; margin-bottom: 15px; font-weight: 600;
			img{ width: 9px; height: 7px; @include transform(translateY(75%));
				/* Sometimes users add images to the site that have link wrappers. This makes sure those images aren't tiny. */
				&.alignnone, &.alignleft, &.aligncenter, &.alignright{width:100%;height:auto;transform:none;}
			}
			&:hover img { width: 8px;
				/* Sometimes users add images to the site that have link wrappers. This makes sure those images aren't tiny. */
				&.alignnone, &.alignleft, &.aligncenter, &.alignright{width:100%;height:auto;}
			 }
		}
		/* Make sure images without links aren't huge. */
		img{
			&.alignnone, &.alignleft, &.aligncenter, &.alignright{width:100%;height:auto;}
		}
		.col-sm-7{ padding-left: 0px; }
		.col-sm-8 a { @include open-lt; font-size: 20px; line-height: 34px; text-transform: none; font-weight: 500; }
	}
	.active { border: 1px solid $lt-grey; }
	.hidden-box, .share-box{ background: $off-white; border: 1px solid $lt-grey; margin-top: -15px; list-style-type: none !important; }
	.hidden-box{ background: $off-white; border: 1px solid $lt-grey; margin-bottom: 15px; height: auto;
		li{ padding: 15px 15px 15px 30px; border: 1px solid $lt-grey; line-height: 20px;
			a{ color: $grey; @include open-lt; font-size: 16px; line-height: 20px; text-transform: none; padding: 0px; }
			&:hover{ background: $garnett; }
			&:hover > a{ color: white; }
		}
	}
	.tablet-menu-placeholder{ display: none; position: absolute; top: 176px; right: 0; width: 225px; height: 57px; background: $garnett; text-align: center;
		li{ list-style: none; padding: 12px 0px;
			a{ color: white; @include adobe-reg; font-size: 28px; text-transform: none; 
				img{ display: inline-block; width: 30px; height: 14px; margin-left: 28px; }
			}
			ul{ display: none; background: $garnett; margin-top: 17px; z-index: 100; position: relative;
				li{ border-top: 1px solid #53212c;
					a{ @include open-lt; font-size: 16px; 
						img{ width: 9px; height: 7px; margin-left: 10px; @include transform(translateY(-20%));  }
					}
				}
			}
			.hidden-box{ display: none; background: $off-white; color: $grey; margin-bottom: -12px;
				li{ border-top: 1px solid $grey; 
					a{ color: $grey; }
					&:hover{ background: transparent;}
					&:hover > a{ color: $grey;}
				}
			 }
			 .share-box{ border: none; 
			 	li { border: none;
			 		a img{ width: 100%; height: auto; margin: 0; }
			 	}
			 }
			 .active{ border: none; }
		}
	}
	.add-top{ top: 385px; }
	.zip-down{ padding-top: 60px; border-bottom: 1px solid $soft-grey;
		.zip-section{ padding: 15px 0px; border-top: 1px solid $soft-grey;
			h5{ margin-top: 45px; }
			h4{ text-transform: none; cursor: pointer;
				img{ width: 12px; height: 6px; float: right; margin-top: 17px; }
			}
			li{ font-size: 16px !important; }
			.hidden-content{ display: none; }
			strong { @include open-semi; font-size: 16px; line-height: 34px; color: $grey; font-weight: 600; }
			p { @include open-lt; font-size: 16px; margin-bottom: 15px; }
			em { @include open-it; color: $grey; font-size: 16px; }
			a { color: $garnett; padding: 0px; margin: 0px; text-transform: none; font-size: 16px; font-weight: 500; }
		}
	}
	strong{ @include open-semi; font-weight: 500; }
	.basic-text{ padding: 30px 0px 0px; 
		p{ padding: 0px; font-size: 18px !important; line-height: 32px !important; margin-bottom: 30px; }
		li{ padding-top: 15px; }
		a{ text-transform: none; font-size: 20px; line-height: 28px; font-weight: 500;  }
		em { @include open-it; color: $grey; font-size: 16px; }
	}
	.accordion-button img{ position: relative; }
}

/* ======================================= */
/* === PROGRAM LISTINGS SPECIFIC ========= */
/* ======================================= */

.program-list, .page-template{
	.intro-text {
		p{ font-size: 20px; line-height: 32px; }
		ul{ list-style-type: disc; }
		.col-sm-8 li{ @include open-lt; font-size: 20px; line-height: 34px; color: $grey; }
	}
	.program-grid{ padding-top: 45px; text-align: left; padding-bottom: 60px;
		.program-block{ padding-left: 0px; padding-right: 20px; margin-bottom: 20px; text-transform: none; height: 104px;
			.inner{ border: 1px solid $soft-grey; height: auto; padding: 25px; cursor: pointer; height: 104px;
				&:hover{ background: $garnett; border-color: $garnett; }
				&:hover > h1, &:hover > h2{ color: #fff; }
			}
				h1, h2{ @include open-reg; color: $grey; }
				h1{ font-size: 18px; line-height: 20px; }
				h2{ font-size: 14px; line-height: 15px; padding-top: 7px; }
		}
	}
	.col-sm-7{
		ul{ padding: 30px 0;
			li{ padding-top:15px; text-transform: none; @include open-lt; font-size: 20px; line-height: 28px;
				ul{ list-style-type: none; padding-top: 0px; margin-left: 30px; }
			}
		}
		a{ text-transform: none; @include open-lt; font-size: 20px; line-height: 28px; }
	}
}

/* ======================================= */
/* === PROGRAM TAXONOMY ARCHIVE SPEC ========= */
/* ======================================= */

.tax-program-categories{
	.intro-copy a { font-weight: 700; }
}

/* ======================================= */
/* === PROGRAM DETAIL SPECIFIC ========= */
/* ======================================= */


.program-detail, .single-degrees-and-programs{
	.main-wrap{ text-align: left;
		.apply{ margin-top: 60px; padding-bottom: 60px;
			&:before{ @include sudo-gradient-sep; margin-bottom: 60px; }
		}
		.img{
			img{ width: 100%; }
		}
		.img{ float: left; }
		h4{ padding-bottom: 10px; 
			img{  width: 16px; height: 24px; margin-left: 25px; @include transform(translateY(12%)); }
		}
		.intro-text .col-sm-7 a { font-size: 20px; text-transform: none; font-weight: 300; }
	}
	.share-box{ display: none;
		li{ display: inline-block; border: none; width: 31%; padding: 20px; list-style: none;
			a{ margin: 0px; padding: 0px;
				img{ width: auto; height: auto; @include transform(none); opacity: 1; 
					&:hover{ opacity: .6; width: auto; }
				} 
			}
		}
	}
	.template-c .main-wrap .accordion-button img { position: relative; }
}

/* ================================================ */
/* === FACULTY LANDING PAGE ========= */
/* ================================================ */

.faculty-landing .main-wrap{
	.row:nth-child(2){ margin-top: 60px; }
	.filter-title{ text-align: left; padding-left: 0px; 
		h1{ @include open-bold; color: $grey; text-transform: uppercase; font-size: 16px; padding: 15px; width: 100%; border: 1px solid $grey; line-height: 16px; 
			img{ display: none; }
		}
		#filter{margin-bottom:50px; padding: 15px; border: 1px solid $grey; border-top: none; height: auto; max-height: 405px; overflow-y: scroll; overflow: -moz-scrollbars-vertical;
			label{ display: block; margin-left: 30px; @include open-lt; margin-top: 2px; font-size: 16px; line-height: 24px; 
				&:hover{ color: $garnett; cursor: pointer; }
			}
			input[type="checkbox"]{ float: left; }
			&::-webkit-scrollbar{ width: 6px; background-color: $off-white; }
			&::-webkit-scrollbar-thumb{ background-color: $grey; background-clip: content-box; }
		}
	}
	.sub-category-filter{ margin-top: 6px; }
	.staff{ text-align: left;
		h1{ @include adobe-it; font-size: 36px; line-height: 42px; color: $garnett; padding-bottom: 15px; }
		.sub-filter{ display: block; border-bottom: 1px solid $gold; width: 100%; padding-top: 30px; 
			li{ display: inline-block; padding: 10px 25px;
				a{ color: $grey; 
					&:hover{ color: $gold; }
				}
			}
			.picked{ border: 1px solid $gold; border-bottom: 1px solid #fff; 
				a{ color: $garnett; }
			} 
		}
		.staff-list{ padding-top: 30px; height: auto; margin-bottom: 60px;
			.block-wrapper{ width: 100%; height: 100%;
				&:hover {background: $off-white; }
			}
			.staff-block{ height: 150px; position: relative; margin-bottom: 45px;
				img{ width: 150px; height: 150px; }
			}
			.data-contain{ display: inline-block; height: 150px; width: calc(100% - 150px); float: right; padding: 15px 0px 10px 15px; position: relative;
				h1{ @include open-bold; font-size: 16px; line-height: 16px; padding-bottom: 10px; }
				h2{ @include open-it; font-size: 15px; line-height: 15px; color: $garnett; min-height: 34px; max-height: 50px; text-transform: none; }
				h3{ @include open-lt; font-size: 15px; color: $grey; text-transform: none; line-height: 21px; }
				// .mail-img{ position: absolute; bottom: 2px; right: 2px; width: 18px; height: 13px; }
			}
		}
	}
}

/* ================================================ */
/* === FACULTY LISTING PAGE ========= */
/* ================================================ */

.faculty-listing .main-wrap{
	.return{ padding: 15px 0px; border-bottom: 1px solid $soft-grey;
		.back{ width: auto; padding: 13px 15px; @include open-bold; font-size: 16px; line-height: 20px; border: 1px solid $gold; display: inline-block; float: left; color: $garnett;
			img{ width: 20px; height: 20px; float: left; margin-right: 15px;  }
			&:hover{ color: $grey; }
		}
	}
	.person{ margin: 30px 0px 60px; 
		.pic{padding-left: 0px;
			img{ width: 100%; height: auto; display: block; }
		}
		.bio{ text-align: left;
			p{ font-size: 18px; line-height: 20px; margin-top: 10px; }
			.staff-social{ display: block; padding-top: 20px; float: left;
				li{ display: inline-block; padding-left: 20px;
					a img{ width: 24px; height: 24px; opacity: .9; 
						&:hover{ opacity: 1; }
					}
					&:first-child{ padding-left: 0px; }
				}
			}
			.mobile-pic{ display: none;
				img{ width: 100%; height: auto; margin-top: 15px; }
			}
			.body-button{   display: block; width: 300px; text-align: center; text-transform: none; font-size: 16px;
				&:first-child{  margin-top: 70px; }
				&:nth-child(2){ margin-top: 15px; }
			}
		}
	}
	.text{ padding-bottom: 60px; text-align: left;
		a{ text-transform: none; }
		p{ margin-bottom: 30px; }
		ul{ margin-top: -25px;
			li{ padding-top: 15px; @include open-lt; font-size: 20px; line-height: 34px; text-transform: none; list-style-type: disc; margin-left: 15px; }
		}
	}
}

/* ================================================ */
/* === TEMPLATE C ========= */
/* ================================================ */

.template-c{
	.main-wrap{
		.description{ padding-bottom: 60px;
			.inline-image{
				img { width: 100%; height: auto; margin-bottom: 45px; }
				.caption{ padding-top: 0px; @include open-it; font-size: 16px; line-height: 24px; }
			}
			.slab{ padding-top: 60px; }
			.body-button{ padding: 15px 30px; width: auto; text-transform: uppercase; font-size: 20px; line-height: 20px; margin-top: 30px; margin-bottom: 0px; @include open-bold; 
				img{ width: 12px; height: 20px; @include transform(none); }
				&:hover img{ width: 11px; height: 19px; }
			}
			.temp-body-p{ font-size: 16px; line-height: 34px; }
			.italic-slab{ padding-top: 60px; }
			ul,ol{margin-left: 15px; padding-left: 15px; margin-top: 30px; 
				li{ @include open-lt; font-size: 20px; line-height: 32px; color: $grey; margin-bottom: 20px; }
			}
			ol{ list-style-type: lower-hexadecimal; }
			ul{ list-style-type: disc; }
		}
		.accordion-button img{ position: absolute; }
		.headers{ padding-top: 30px; }
	}
}

/* ================================================ */
/* === CONTACT PAGE ========= */
/* ================================================ */

.contact{
	.row{ margin: 0px; }
	.intro{ height: 400px; 
		.contact-overlay{ width: 530px; position: absolute; background: rgba(0,0,0,.9); padding: 40px; text-align: left; @include vert-align(50%, -50%); border-left: 4px solid $garnett; color: white;
			h1{ @include open-lt; font-size: 42px; line-height: 42px; position: relative; color: white; margin-bottom: 15px; max-width: 100%; }
			.container, .col-sm-6{ padding: 0px; }
			.col-sm-5{ margin-top: 34px;
				img{ display: inline-block; width: 18px; margin-right: 10px; }
			}
			p{ color: white; font-size: 19px; line-height: 34px; }
			p.email-text{ color: $gold; text-transform: none; }
		}
	}
	.get-in-touch{ text-align: left; margin-top: 60px; }
}

/* ================================================ */
/* === GRAVITY FORMS ========= */
/* ================================================ */

.gform_wrapper{ margin-top: 40px; 
		.gform_body{ height: 100%; overflow: auto; border-bottom: 1px solid $lt-grey; padding-bottom: 30px; }
		.top_label{
			input.medium{ height: 50px; }
			.gfield_label{ @include open-lt; font-size: 16px; color: $grey; }
		}
		select{ border-radius: 0px; background: $label; height: 50px; border: 1px solid #cccccc; -webkit-appearance: none; padding-left: 10px; @include open-lt; font-family: 'open-sans' !important; font-size: 16px; color: #5d5d5d; }
		input[type=text], textarea{ background: $label; @include open-lt; font-family: 'open-sans' !important; font-size: 16px !important; color: $grey; border: 1px solid #cccccc; padding: 14px 14px 7px 8px !important;  }
		textarea{ margin-top: .75em; background: $label; }
		ul.gfield_radio li{ 
			label{ @include open-lt; font-size: 16px; color: $grey; }
		}
		input[type=submit]{ -webkit-appearance: none; background: $garnett; color: white; @include open-bold; font-size: 18px; text-transform: uppercase; border: none; padding: 10px 30px; opacity: .95; margin-bottom: 50px;  
			&:hover{ opacity: 1; }
		}
		.gform_footer{ margin: 0; }
		input[type=text]:focus, textarea:focus{ outline: none !important; border:1px solid $off-white; box-shadow: 0 0 10px $garnett; }
	}
	.gform_confirmation_message{ @include open-lt; font-size: 34px; text-align: left; padding: 60px 0; line-height: 44px; }

	.gform_wrapper .top_label li.gfield.gf_right_half { float: right; }
	.gform_wrapper .top_label li.gfield.gf_left_half { float: left; }

/* ================================================ */
/* === FOOTER ========= */
/* ================================================ */

.footer{ padding: 100px 0px 100px; background: $soft-grey;
	.main-wrap{ text-align: left; 
		.link-row{ padding-bottom: 70px; border-bottom: 1px solid $lt-grey;
			.footer-list{ margin-bottom: 30px;
				li{
					a{ @include open-lt; color: $grey; font-size: 16px; line-height: 24px; text-transform: none;
					&:hover{ color: $garnett; }
					}
				}
				li.parent a{ @include open-bold; line-height: 18px; }
			}
		}
		.spacer{ position: relative; width: 100%; height: 7px; }
		.logo-social{ padding-top: 15px; border-top: 1px solid $lt-grey;
			.footer-logo{ width: 365px; height: 80px; max-width: 90%;}
			.footer-social{ display: block; padding-top: 20px; float: right;
				li{ display: inline-block; padding-left: 20px;
					a img{ width: 24px; height: 24px; opacity: .9; 
						&:hover{ opacity: 1; }
					}
				}
			}
		}
		.contact-row{ padding-top: 20px;
			.address a{ @include open-lt; color: $grey; text-transform: uppercase; 
				p{ font-size: 16px; line-height: 24px; }
			}
			.phone p{ @include open-bold; font-size: 24px; color: $garnett; padding-top: 20px; }
			.app-column{
				.inner{ float: right;
					p{ font-size: 16px; @include open-lt; }
					.app{ width: 93px; height: 28px; margin-top: 15px; float: right; }
				}
			}
		}
	}
}

/* ================================================ */
/* === SMART SEARCH OVERRIDES ========= */
/* ================================================ */

.search-overlay{
	#gcs-widget{ background-color: #e5e5e5; }
	.gsc-above-wrapper-area{ display: none; }
	.gsc-wrapper{ background-color: #e5e5e5; }
	.gs-result .gs-title, .gs-result .gs-title * { text-decoration: none; margin-bot: 2px; }
	.gsc-results .gsc-cursor-page{ background-color: transparent; }
	.gsc-webResult .gsc-result{ border-bottom: none; background-color: #e5e5e5; padding: 20px; }
}

/* ================================================ */
/* === CUSTOM SEARCH OVERRIDES ========= */
/* ================================================ */

td.gssb_e{ width: auto !important;
	.gsc-completion-container{ margin-left: -15px !important; background-color: $soft-grey !important; 
		td{ padding: 15px !important; 
			span{ padding: 30px 6px !important; font-size: 18px !important; @include open-lt; color: $grey !important; }
		}
		// .gssb_a div{ display: none !important; }
	}
}

/* ================================================ */
/* === MEDIA QUERIES ========= */
/* ================================================ */

/* ------------------------------------- */
/* === SPECIFIC BREAK FOR ICON PANEL === */
/* ------------------------------------- */

@media (max-width: 1200px){

	.icon-panel .container .icon-column{
		&:nth-of-type(n + 3){ margin-top: 90px; }
		.inner-content img{ height: 120px; }
	}
}

/* ------------------------------------------ */
/* === SPECIFIC BREAK FOR HOMEPAGE HEADER === */
/* ------------------------------------------ */

@media (min-width: 1160px) {
	.home #header .main-wrap .main-nav li:nth-child(-n + 3) a { -webkit-padding-end: 50px; }
}

@media (max-width: 1160px){

	.home #header .main-wrap{
		.main-nav{ width: 596px;
			li{ width: 146px;
				a{ font-size: 18px; }
				.sub-nav{ width: 596px; }
				&:nth-child(2) > .sub-nav{ margin-left: -146px; }
				&:nth-child(3) > .sub-nav{ margin-left: -292px; }
			}
		}
	}
}

/* ----------------------------------------------------- */
/* === TABLET - 1024 === */
/* ----------------------------------------------------- */

@media (max-width: 1024px){

	/* === Globals === */

	.home-h1{ font-size: 30px; line-height: 32px; }
	.home-p{ font-size: 20px; line-height: 32px; }

	/* === Header === */

	.home #header, #header{ background: white; border-top: 4px solid $garnett; position: relative;
		.main-wrap{
			.main-nav{ display: none; }
			.logo{ width: 364px; }
			.tablet-buttons{ display: block; }
		}
	}

	/* === Opening === */

	.opening{ border-bottom: 4px solid $gold; height: 560px; background-position: bottom right;
		.overlay{ top: 50%; padding: 35px 60px 35px 35px; max-width: 505px;
			h1{ font-size: 44px; line-height: 54px; }
			h2{ font-size: 24px; line-height: 36px; padding: 25px 0px 45px; }
		}
	}

	/* === Bottom Menu === */

	.bottom-menu-button{ padding: 20px; 
		a{ font-size: 20px; line-height: 20px; }
	}

	.bottom-menu{  @include flex-wrap(wrap); ms-flex-wrap: wrap;
		li{ @include flex(0 0 auto); -ms-flex: 0 0 auto; width: 25%; padding: 20px; border: 1px solid white;
			a{ font-size: 16px; }
			&:first-child{ border-left: 1px solid white; }
			&:last-child{ border: none; width: 100%; background: rgba(0,0,0,.9); height: 50px; }
		}
	}

	/* === Image Slider === */

	.image-slider .slide-gallery .slide .overlay-content{ max-width: 410px; top: 30px; left: 30px; padding: 30px;
		h2{ line-height: 26px; }
		h1{ font-size: 44px; line-height: 44px; }
		p{ font-size: 16px; line-height: 24px; padding: 20px 0px 18px; }
	}

	/* === Student Experience Intro === */

	.student-experience-intro .slide .overlay-content { max-width: 410px; 
		h1{ font-size: 44px; line-height: 46px; }
	}

	/* === Full Width Interior Image/Text === */

	.interior-full{ height: 265px; }
	.positioner{ height: auto; width: 100%; max-width: 100%; 
		.test-block{ @include transform(none); 
			li a{ font-size: 16px; }
		}
	}

	/* === Image w/ Quote === */

	.image-quote .quote-overlay{ position: relative; right: 0px; top: 0px; width: 100%; padding: 0px 20px; text-align: center;
		h1{ color: $garnett; padding-top: 50px; }
		.quote-button{ background-color: transparent; color: $garnett; border: 1px solid $garnett; margin-bottom: 50px; 
			&:hover{ background-color: transparent; }
			img{ width: 9px; height: 18px; }
		}
	}

	/* === Inline Quote Image === */

	.inline-quote .main-wrap{ height: 210px; max-width: 95%; padding-left: 0px;
		h1{ font-size: 24px; line-height: 28px; }
	}

	/* === Generic Template === */

	.page-template{
		.tablet-menu-placeholder{ display: block; 
			li .hidden-box li{ border: none; }
		}
		.button-column{ display: none; }
		.intro-text .col-sm-7{ padding-left: 15px; }
	}

	.program-list, .page-template{
		.program-grid{ padding-left: 15px; }
	}

	/* === Program Detail Template === */

	.program-detail{
		.description{ width: 100%; }
	}

	/* === Template C Toggle Arrows === */

	.template-c .main-wrap .accordion-button img{ position: relative; }

	/* === Faculty Landing Page Template === */

	.faculty-landing .main-wrap{
		.staff{ width: 100%;
			.filter-title{ background-color : $off-white; border-color: $soft-grey; padding-right: 0px; margin-top: 30px; cursor: pointer;
				#filter{ display: none; position: absolute; z-index: 3; width: 100%; background: $off-white; max-height: 150px; }
				h1{ @include open-bold; color: $grey; font-size: 16px; line-height: 16px; 
					img{ display: inline-block; width: 11px; height: 14px; float: right; }
				} 
			}
			.sub-filter{ padding-top: 115px; }
		}
	}

}

/* ----------------------------------------------------- */
/* === SPECIFIC BREAK FOR BOOTSTRAP MD COLUMNS - 991 === */
/* ----------------------------------------------------- */

@media (max-width: 991px){

	/* === Header === */

	.home #header, #header{
		.search-overlay .search-col-right{ float: none; 
			ul{padding-bottom: 30px; 
				li{ width: 50%; display: inline-block; }
			}
		}
		// .search-col-left img{ display: none; }
	}

	/* === List Links === */

	.list-links{
		.links .body-button{ display: block; margin-top: 30px; width: 85%; }
		.cta{ display: none; }
	}

	/* === Footer === */

	.footer .main-wrap .logo-social .footer-social{ float: left;
		li:first-child{ padding-left: 0px; }
	}

	.footer .main-wrap .contact-row .app-column .inner{ float: left; padding-top: 20px; 
		.app{ float: left; }
	}

	.icon-panel-three .container .icon-column{
		&:nth-of-type(n + 2){ margin-top: 30px; }
	}

}

/* ----------------------------------------------------- */
/* === TABLET - 768 === */
/* ----------------------------------------------------- */

@media (max-width: 768px) {

	.opening .overlay{ top: 50%; padding: 35px 60px 35px 35px; max-width: 505px;
		h1{ font-size: 44px; line-height: 54px; }
		h2{ font-size: 24px; line-height: 36px; padding: 25px 0px 45px; }
	}

	.left-buckets .main-wrap{
		p{ font-size: 16px; line-height: 24px; }
		.body-button{ display: none; }
	}

	.buckets .main-wrap h4{ font-size: 20px; line-height: 34px; }

	.positioner .block-nav li a { font-size: 15px; line-height: 16px; }

	// interior full text

	.interior-full-text { padding: 30px 0px 50px; }
}

/* ------------------------------ */
/* === IMMEDIATE MOBILE BREAK === */
/* ------------------------------ */

@media (max-width: 767px){

	/* === Globals === */

	.mobile-hide{ display: none; }
	.home-h1{ font-size: 24px; line-height: 32px; text-align: left; }
	.home-p{ font-size: 18px; line-height: 30px; text-align: left; }
	.main-wrap{ padding:0 20px; }
	.body-button{ width: 100%; padding: 15px 20px; font-size: 15px; text-align: left; }
	.italic{ font-size: 24px; line-height: 32px;
		&:before{ margin-bottom: 30px; }
		&:after{ margin-top: 30px; } 
	}
	h1{ font-size: 32px; line-height: 38px; }
	h2{ font-size: 24px; line-height: 32px; }
	h4{ font-size: 20px; line-height: 36px; }
	p{ font-size: 18px; line-height: 30px; }
	.page-template .container{ padding: 0px; }
	div.search-trigger{right: 0px;}

	/* === Flex Content Conditionals === */

	.full-text-panel + .full-image-panel {
		padding-top: 0px;
	}
	.full-text-panel + .icon-panel {
		padding: 0px;
	}
	.icon-panel + .image-slider {
		margin-top: 30px;
	}
	.full-text-panel + .icon-panel-three {
		padding-top: 0px;
	}

	/* === Header === */

	.home #header, #header{ padding: 0px;
		.main-wrap{ padding: 0px; 
			.logo{ display: none; }
			.mobile-logo{ display: block; left: 15px; }
		}
		.tablet-nav{ padding: 0px; 
			.col-sm-6{ padding-left: 15px; }
			.first{ margin-top: 15px; }
			ul{ padding: 4px 0px; text-align: center;
				li a{ display: none; }
				li:first-child > a{ display: block; }
			}
			.separate{ border-bottom: none; padding-top: 15px;
				li a{ display: block; }
			}
			.tablet-connect{ @include flex-wrap(wrap); -ms-flex-wrap: wrap; bottom: 0px; background: $garnett;
				li{ @include flex(0 0 auto); -ms-flex: 0 0 auto; width: 33.3%; padding: 20px; 
					img{ width: 32px; height: 32px; }
				}
			}
		}
		.search-overlay{
			.search-col-right{ padding-left: 30px;
				ul li{ width: 100%; }
				label{ font-size: 16px; line-height: 34px; }
			}
			.search-col-left .main-search{ height: 45px; }
		}
		.main-wrap .tablet-buttons{ width: 60px; height: 100%; padding: 10px 0px;
			.tablet-search{ border-right: none; }
			.tablet-menu, .tablet-search{ height: 50%; @include transform(none); top: 0px; }
		}
	}

	/* === Opening === */

	.opening{ height: 200px; background-position: top right; }

	.overlay{ width: 100%; height: auto; padding: 40px 20px; background: #000; color: white;
		h1{ @include open-lt; font-size: 32px; line-height: 40px; color: white; }
		h2{ @include open-reg; font-size: 22px; line-height: 30px; padding: 30px 0px; color: white; }
		a{ @include open-semi; text-transform: uppercase; color: white; font-size: 24px; 
			img{ width: 10px; margin-left: 15px; }
		}
	}

	/* === Bottom Menu === */

	.bottom-menu-button, .bottom-menu{ display: none; }

	/* === 4 Column Image/Text === */

	.icon-panel .container{
		.icon-column{ height: auto; margin-top: 30px !important; }
	}

	/* === 3 Column Image/Text === */

	.icon-panel-three .container .icon-column{
		.inner-content img{ height: 130px; }
	}

	/* === List Links === */

	.list-links{
		.links{ text-align: center;
			.body-button{ display: none; }
		}
		.cta{ display: block; }
		.buttons{ margin-top: 30px; @include transform(none);
			.body-button{ width: 100%; }
		}
		&:before{ margin-bottom: 30px; }
		&:after{ margin-top: 30px; }
	}

	/* === Full Text Panel === */

	.full-text-panel{ padding-top: 50px; }

	/* === Image Slider === */

	.image-slider{
		.slide-gallery .slide .overlay-content{ position: relative; max-width: 100%; width: 100%; background: $garnett; left: 0px; top: 0px; padding: 15px 15px 30px;
			h1{ color: white; font-size: 32px; line-height: 38px; }
			h2{ display: none; }
			p{ display: none; }
			a{ color: white; padding-top: 30px; }
		}
		.next{ left: 0px; right: auto; }
	}

	/* === Student Experience Intro === */

	.student-experience-intro{
		.slide .overlay-content{ position: relative; max-width: 100%; width: 100%; background: $garnett; left: 0px; top: 0px; padding: 15px 15px 30px;
			h1{ color: white; font-size: 32px; line-height: 38px; }
			h2{ display: none; }
			p{ display: none; }
			a{ color: white; padding-top: 30px; }
		}
		.next{ left: 0px; right: auto; }
	}

	/* === Alternating Bucket === */

	.buckets .main-wrap{
		h4{ font-size: 18px; line-height: 34px;
			img{ margin-left: 15px; } 
		}
		.img img{ margin-bottom: 20px; }
	}

	// Left Aligned Buckets

	.left-buckets .main-wrap{
		h4{ margin-top: 30px; font-size: 24px; line-height: 28px; }
		.body-button{ display: inline-block; width: 100%; }
	}

	/* === Interior Full Width Image === */

	.interior-full{ height: 150px;
		.main-wrap h1{ margin-top: 40px; }
	}
	.interior-header{ font-size: 36px; line-height: 36px; }
	.positioner{ padding: 0px; 
		.block-nav{ display: block; @include transform(none); 
			li{ display: none;
				&:first-child{ display: block; 
					a{ color: $garnett; @include adobe-reg; font-size: 28px; line-height: 28px; text-transform: none;  }
				}
				&:nth-child(2){ margin-top: 20px; }
				a{ text-transform: none; line-height: 26px; }
			}
			.down-button{ display: block; position: absolute; top: 0px; right: 0px; height: 58px; width: 60px; background: $garnett; 
				img{ width: 20px; height: 10px; margin: auto; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; cursor: pointer; }
			}
		}
	}

	/* === Image w/ Quote === */

	.image-quote .quote-overlay{
		h1{ font-size: 24px; line-height: 36px; padding: 30px 0px; }
		.quote-button{ margin-bottom: 0px; width: 100%; }
	}

	/* === Inline Quote Image === */

	.inline-quote .main-wrap{ height: auto; padding: 0px; overflow: hidden; background: transparent; max-width: 100%;
		img{ width: 100%; margin: 0px 0px 30px; }
		h1{ margin: 0; padding: 0px 20px; }
	}

	/* === General Template === */

	.page-template{
		.intro{ height: 100px; 
			.main-wrap h1{ display: none; }
		}
		.breadcrumbs{ display: none; }
		.tablet-menu-placeholder{ width: 100%; top: 120px;
			li .share-box li a img{ width: 32px; height: 32px; }
		}
		.add-top{ top: 220px; }
	}

	/* === Program List Template === */

	.program-list{
		.row{ margin-left: 0px; margin-right: 0px; }
		.intro-text{ padding-top: 35px; 
			a{ text-align: center; }
		}
		.button-column{ padding: 30px 0 0 0;
			a:nth-child(2){ margin-bottom: 0px; }
		}
		.program-grid{ padding-left: 0px;
			.program-block{ padding-right: 0px; 
			h1{ font-size: 18px; line-height: 18px; }
			.inner{ height: auto; }
			}
		}
	}

	/* === Program Detail Template === */

	.program-detail{
		.main-wrap .img img{ margin-bottom: 20px; }
		.intro-text{ padding-top: 80px; }
	}

	/* === Faculty Landing Template === */

	.faculty-landing .main-wrap{
		.staff{
			.sub-filter{ padding-top: 25px;
				li{ padding: 8px;
					a{ font-size: 15px; } 
				}
			}
			.staff-list{
				.staff-block{ height: 125px; 
					img{ width: 125px; height: 125px; }
				}
				.data-contain{ height: 125px; width: calc(100% - 125px); padding: 0 0 0 15px; clear: both;
					h1{ font-size: 15px; padding-bottom: 5px; }
					h2{ font-size: 13px; height: 58px;}
					h3{ font-size: 14px; }
				}
			}
		}
		.row:nth-child(2){ margin-top: 30px; }
	}

	/* === Faculty Listing Template === */

	.faculty-listing .main-wrap{
		.pic{ display: none; }
		.person{ margin-bottom: 30px;
			.bio{ padding: 0px;
				.mobile-pic{ display: block; }
			}
		}
	}

	/* === Template C === */

	.template-c .intro-text{ padding-top: 100px; }

	/* === Contact === */


	.gform_wrapper .top_label{
		li.gfield.gf_left_half, li.gfield.gf_right_half{ width: 100% !important; }
	}

	.contact{
		.intro{ background-image: none !important; height: 100%; 
			.main-wrap{ max-width: 100%; padding: 0px; 
				h1{ display: block; font-size: 42px; }
			}
			.contact-overlay{ width: 100%; position: relative; @include transform(none); border-left: none; 
				.col-sm-5{ margin-top: 0px; padding-left: 0px; }
			}
		}
		.gform_wrapper textarea{ margin-top: 0px; }
	}

	/* === Footer === */

	.footer{ padding: 60px 0px; 
		.main-wrap{
			.link-row{ border-bottom: none; padding-bottom: 30px;
				.footer-list{ margin-bottom: 0px;
					li{ display: none; 
						&:first-child{ display: block; border-bottom: 1px solid $lt-grey;
							a{ @include open-reg; line-height: 40px; }
						}
					}
				}
			}
			.spacer{ display: none; }
			.logo-social{ border-top: none; 
				.footer-social li{ padding-top: 6px;
					a img{ width: 30px; height: 30px; }
				}
			}
		}
	}
}