$garnett: #782f40;
$gold: #ceb888;
$grey: #5d5d5d;
$off-white: #f2f2f2;
$lt-grey: #cccccc;
$soft-grey: #e5e5e5;
$black: #000;
$label: #f9f9fa;

@mixin open-lt{	font-family: 'open-sans';font-style: normal;font-weight: 300;}
@mixin open-reg{font-family: 'open-sans';font-style: normal;font-weight: 500;}
@mixin open-it{font-family: 'open-sans';font-style: italic;font-weight: 500;}
@mixin open-semi{font-family: 'open-sans';font-style: normal;font-weight: 600;}
@mixin open-bold{font-family: 'open-sans';font-style: normal;font-weight: 700;}
@mixin adobe-reg{font-family: 'adobe-garamond-pro';font-style: normal;font-weight: 400;}
@mixin adobe-it{font-family: 'adobe-garamond-pro';font-style: italic;font-weight: 400;}
@mixin adobe-bold{font-family: 'adobe-garamond-pro';font-style: normal;font-weight: 700;}